<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecode.mapper.ClassProblemMapper">

    <select id="getClassProblem" resultType="com.ecode.vo.ProblemPageVO" parameterType="java.lang.Integer">
        SELECT p.id,p.title,p.grade,p.create_time,p.update_time,cp.id AS class_problem_id
        FROM problem p
                 JOIN class_problem cp ON p.id = cp.problem_id
        WHERE cp.class_id = #{classId}
        <if test="name != null and name != ''">
            AND p.title like concat('%',#{name},'%')
        </if>
    </select>
</mapper>
