# \u670D\u52A1\u7AEF\u53E3
server:
    port: ${ecode.server.port}

spring:
    profiles:
        active: dev
    datasource:
        url: jdbc:mysql://${ecode.data.mysql.host}/${ecode.data.mysql.db-name}?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: ${ecode.data.mysql.username}
        password: ${ecode.data.mysql.password}
    #邮件服务配置
    mail:
        host: ${ecode.mail.host} #邮件服务器地址
        protocol: ${ecode.mail.protocol} #协议
        username: ${ecode.mail.username} #邮件方用户名(默认可能是邮箱)
        password: ${ecode.mail.password} #开通服务后得到的授权码
        from: ${ecode.mail.from} #邮件发送邮箱
        default-encoding: ${ecode.mail.default-encoding} #邮件内容的编码
        port: ${ecode.mail.port} #邮件服务器端口
        ssl:
            enabled: true
        properties:
            mail:
                debug: false
                smtp:
                    localhost: ${ecode.mail.localhost}
                    auth: true
                    ssl:
                        enable: true
                    starttls:
                        enable: false   # SSL 模式下通常不需要 STARTTLS
                        required: false
#                    connectiontimeout: 5000
#                    timeout: 3000
#                    writetimeout: 5000

    data:
        redis:
            host: ${ecode.redis.host}
            port: ${ecode.redis.port}
            password: ${ecode.redis.password}
            database: ${ecode.redis.database}
    ai:
        dashscope:
            api-key: ${ecode.ai.bailian-api-key}
            chat:
                options:
                    model: ${ecode.ai.chat.options.model}
            embedding:
                options:
                    model: ${ecode.ai.embedding.options.model}
                    dimensions: ${ecode.ai.embedding.options.dimensions}
        vectorstore:
            redis:
                initialize-schema: true
                index-name: kb
                prefix: 'kb:'
        chat:
            memory:
                repository:
                    jdbc:
                        initialize-schema: always  # 或 embedded / never
            #            platform: mysql           # 显式指定平台（可选）

    servlet:
        multipart:
            max-file-size: 104857600
            max-request-size: 104857600

mybatis-plus:
    configuration:
        default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler #配置枚举处理器
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl #开启日志输出
    type-aliases-package: com.ecode.entity
    global-config:
        db-config:
            id-type: auto # \u5168\u5C40id\u7C7B\u578B\u4E3A\u81EA\u589E\u957F
    mapper-locations: "classpath*:/mapper/**/*.xml" # Mapper.xml\u6587\u4EF6\u5730\u5740\uFF0C\u5F53\u524D\u8FD9\u4E2A\u662F\u9ED8\u8BA4\u503C\u3002

ecode:
    jwt:
        # \u8BBE\u7F6Ejwt\u7B7E\u540D\u52A0\u5BC6\u65F6\u4F7F\u7528\u7684\u79D8\u94A5
        user-secret-key: test34274279472346239432
        # \u8BBE\u7F6Ejwt\u8FC7\u671F\u65F6\u95F4ms
        user-ttl: 172800000000
        # \u8BBE\u7F6E\u524D\u7AEF\u4F20\u9012\u8FC7\u6765\u7684\u4EE4\u724C\u540D\u79F0
        user-token-name: token

    docker:
        url: ${ecode.docker.url}
        timeout: ${ecode.docker.timeout}

    s3:
        endpoint: ${ecode.s3.endpoint}
        access-key: ${ecode.s3.access-key}
        secret-key: ${ecode.s3.secret-key}
        bucket-name: ${ecode.s3.bucket-name}


    webauthn:
        allowed-origins: ${ecode.webauthn.allowed-origins}
        attestation: ${ecode.webauthn.attestation}
        identity:
            id: ${ecode.webauthn.identity.id}
            name: ${ecode.webauthn.identity.name}
        registration-timeout: ${ecode.webauthn.registration-timeout}
        assertion-timeout: ${ecode.webauthn.assertion-timeout}
        authenticator-selection:
            resident-key: ${ecode.webauthn.authenticator-selection.resident-key}
            user-verification: ${ecode.webauthn.authenticator-selection.user-verification}
            authenticator-attachment:
    ai:
        problem-recommendation-url: ${ecode.ai.problem-recommendation-url}
# springdoc-openapi项目配置
springdoc:
    # 默认是false，需要设置为true
    default-flat-param-object: true
    swagger-ui:
        path: /swagger-ui.html
        tags-sorter: alpha
        operations-sorter: alpha
    api-docs:
        path: /v3/api-docs
    group-configs:
        - group: '学生端接口'
          paths-to-match: '/**'
          packages-to-scan: com.ecode.controller.user
          packages-to-exclude: com.ecode.controller.user.teacher, com.ecode.controller.user.admin
        - group: '教师端接口'
          paths-to-match: '/**'
          packages-to-scan: com.ecode.controller.user
          packages-to-exclude: com.ecode.controller.user.student, com.ecode.controller.user.admin
        - group: '管理员端接口'
          paths-to-match: '/**'
          packages-to-scan: com.ecode.controller.user
          packages-to-exclude: com.ecode.controller.user.student, com.ecode.controller.user.teacher
        - group: '开放接口'
          paths-to-match: '/**'
          packages-to-scan: com.ecode.controller.open
# knife4j的增强配置，不需要增强可以不配
knife4j:
    enable: true
    setting:
        language: zh_cn
logging:
    level:
        org.springframework.ai: info

# 滑块验证码配置， 详细请看 cloud.tianai.captcha.autoconfiguration.ImageCaptchaProperties 类
captcha:
    # 如果项目中使用到了redis，滑块验证码会自动把验证码数据存到redis中， 这里配置redis的key的前缀,默认是captcha:slider
    prefix: captcha
    # 验证码过期时间，默认是2分钟,单位毫秒， 可以根据自身业务进行调整
    expire:
        # 默认缓存时间 2分钟
        default: 10000
        # 针对 点选验证码 过期时间设置为 2分钟， 因为点选验证码验证比较慢，把过期时间调整大一些
        WORD_IMAGE_CLICK: 20000
    # 使用加载系统自带的资源， 默认是 false(这里系统的默认资源包含 滑动验证码模板/旋转验证码模板,如果想使用系统的模板，这里设置为true)
    init-default-resource: true
    # 缓存控制， 默认为false不开启
    local-cache-enabled: false
    # 缓存开启后，验证码会提前缓存一些生成好的验证数据， 默认是20
    local-cache-size: 20
    # 缓存开启后，缓存拉取失败后等待时间 默认是 5秒钟
    local-cache-wait-time: 5000
    # 缓存开启后，缓存检查间隔 默认是2秒钟
    local-cache-period: 2000
    # 配置字体包，供文字点选验证码使用,可以配置多个，不配置使用默认的字体
#    font-path:
    secondary:
        # 二次验证， 默认false 不开启
        enabled: true
        # 二次验证过期时间， 默认 2分钟
        expire: 120000
        # 二次验证缓存key前缀，默认是 captcha:secondary
        keyPrefix: "captcha:secondary"

